@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Students All Data</h1>
</div>

@*Total Subjects and Students*@
<div class="container text-center">
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Count</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">Total Students</div>
                <div class="col-sm-6">Total Subjects</div>
            </div>
            <hr />
            @{
                <div class="row">
                    <div class="col-sm-6">@ViewBag.totalStudents</div>
                    <div class="col-sm-6">@ViewBag.totalSubjects</div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<br />
@*Maximum Marks*@
<div class="container text-center">
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Maximum Marks</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">DBMS</div>
                <div class="col-sm-6">Data Structures</div>
            </div>
            <hr />
            @{
                var maxdata = ViewBag.maximum.Split('+');
                <div class="row">
                    <div class="col-sm-6">@maxdata[0]</div>
                    <div class="col-sm-6">@maxdata[1]</div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>


@*Minimum Marks*@
<div class="container text-center">
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Minimum Marks</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">DBMS</div>
                <div class="col-sm-6">Data Structures</div>
            </div>
            <hr />
            @{
                var mindata = ViewBag.minimum.Split('+');
                <div class="row">
                    <div class="col-sm-6">@mindata[0]</div>
                    <div class="col-sm-6">@mindata[1]</div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@*Average Marks*@
<div class="container text-center">
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Average Marks</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6"><b>DBMS</b></div>
                <div class="col-sm-6"><b>Data Structures</b></div>
            </div>
            <hr />
            @{
                var avgdata = ViewBag.average.Split('+');
                <div class="row">
                    <div class="col-sm-6">@avgdata[0]</div>
                    <div class="col-sm-6">@avgdata[1]</div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<br />

<div class="container text-center">
    <br />
    <div class="row">
        <div class="col-sm-12">
            <h2>Student Details with Maximum marks in DBMS</h2>
            <div class="row">
                <div class="col-sm-4"><b>Name</b></div>
                <div class="col-sm-4"><b>Age</b></div>
                <div class="col-sm-4"><b>Marks</b></div>
            </div>
            <hr />
            @{
                var maxData1 = ViewBag.maxDBMS.Split('+');
                <div class="row">
                    <div class="col-sm-4">@maxData1[0]</div>
                    <div class="col-sm-4">@maxData1[1]</div>
                    <div class="col-sm-4">@maxData1[2]</div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="container text-center">
    <br />
    <div class="row">
        <div class="col-sm-12">
            <h2>Student Details with Minimum marks in DBMS</h2>
            <div class="row">
                <div class="col-sm-4"><b>Name</b></div>
                <div class="col-sm-4"><b>Age</b></div>
                <div class="col-sm-4"><b>Marks</b></div>
            </div>
            <hr />
            @{
                var minData1 = ViewBag.minDBMS.Split('+');
                <div class="row">
                    <div class="col-sm-4">@minData1[0]</div>
                    <div class="col-sm-4">@minData1[1]</div>
                    <div class="col-sm-4">@minData1[2]</div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="container text-center">
    <br />
    <div class="row">
        <div class="col-sm-12">
            <h2>Student Details with Maximum marks in Data Structures</h2>
            <div class="row">
                <div class="col-sm-4"><b>Name</b></div>
                <div class="col-sm-4"><b>Age</b></div>
                <div class="col-sm-4"><b>Marks</b></div>
            </div>
            <hr />
            @{
                var maxData2 = ViewBag.maxDS.Split('+');
                <div class="row">
                    <div class="col-sm-4">@maxData2[0]</div>
                    <div class="col-sm-4">@maxData2[1]</div>
                    <div class="col-sm-4">@maxData2[2]</div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="container text-center">
    <br />
    <div class="row">
        <div class="col-sm-12">
            <h2>Student Details with Minimum marks in Data Structures</h2>
            <div class="row">
                <div class="col-sm-4"><b>Name</b></div>
                <div class="col-sm-4"><b>Age</b></div>
                <div class="col-sm-4"><b>Marks</b></div>
            </div>
            <hr />
            @{
                var minData2 = ViewBag.minDS.Split('+');
                <div class="row">
                    <div class="col-sm-4">@minData2[0]</div>
                    <div class="col-sm-4">@minData2[1]</div>
                    <div class="col-sm-4">@minData2[2]</div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<br />